{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
{% load user_filters %}
<div class="container py-5">
  <div class="form-group row my-3 p-3">
  <p>Привет! я автор данного сайта и зовут меня Сосов Алексей Юрьевич - Приятно познакомиться!</p> 
  <p>Я студент бэкенд разработки Яндекс практикума!, активно познаю азы разработки, 
        пока что не совсем всё получается, но уверенно стремлюсь к своей цели!</p>
  <p>Осознание сменить поле деятельности пришло постепенно,но уже загорелось ярким пламенем, 
        можно сказать наскучило заниматься тем чем занимаюсь, 
        топчусь на месте без какого либо роста уже 6 лет и меня это крайне не устраивает. 
        Есть желание достигнуть более высоких целей, есть увереность, что в данном поле деятельности
        у меня больше шансов проявить себя, да и вернутся к истокам своего образования. Я закончил Липецкий Государственный Педагогический 
        Университет кафедра "Прикладная математика и информационных технологий" присуждена квалификация "Математик. Системный программист" в сейчас уже
        далёком 2013 году. Писал диплом на тему Разработка приложения "Мобильная версия сайта кафедры ПМ и ИТ под ОС android.
        с использованием XML разметки и Java. За 6 лет много чего изменилось и поменялось и сейчас это наверное никто не использует,
        я крайне сильно отстал да и многое забыл по большому счёту я начинаю с нуля. Но где-то глубоко остались знания и понимание 
        как и с чем всё это нужно кушать, думаю со временем я смогу освоится. Вот с чем я никогда недружил так это с версткой сайтов, честно говоря
        мне и не приходилось этим заниматься, как видите на примере данной странички это всё на что меня хватило :) будем исправлять !
        Ну, а помогало мне в время работы над проектом терпение и труд, терпение, терпение и отдых, ну и мотиватор в виде текущего места работы 
        работает безупречно, с каждым днём я всё больше убеждаюсь, что пора менять поле деятельности, предыдущее исчерпало себя во всём! 
  </p>       
</div>
<div class="form-group row my-3 p-3 offset-md-4">
  <a href="https://github.com/Aleksey-Krd">
    Ссылочка на GIT </a>
  <a href="https://vk.com/id11943460">
    Ссылочка на VK </a>
  <a href="https://t.me/WalkA1one">
    Ссылочка на Telegram </a>
</div>
<div class="form-group row my-3 p-3">
  <label>Моя скромная рабочая зона :)</label>
  <img src="{% static 'img/place.jpg' %}" height="350" class="d-inline-block align-top" alt="">     
</div>
</div>
{% endblock %}